<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light"
      data-menu-styles="light" data-toggled="menu-hover-close" data-nav-style="menu-click">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bolo.Web</title>
    @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bolo.Web.styles.css" asp-append-version="true" /> *@

    <!-- Choices JS -->
    <script src="../assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

    <!-- Main Theme Js -->
    <script src="../assets/js/main.js"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="../assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style Css -->
    <link href="../assets/css/styles.min.css" rel="stylesheet">

    <!-- Icons Css -->
    <link href="../assets/css/icons.css" rel="stylesheet">

    <!-- Node Waves Css -->
    <link href="../assets/libs/node-waves/waves.min.css" rel="stylesheet">

    <!-- Simplebar Css -->
    <link href="../assets/libs/simplebar/simplebar.min.css" rel="stylesheet">

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="../assets/libs/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="@Url.Content("../assets/libs/@simonwep/pickr/themes/nano.min.css")">

    <!-- Choices Css -->
    <link rel="stylesheet" href="../assets/libs/choices.js/public/assets/styles/choices.min.css">


    <link rel="stylesheet" href="../assets/libs/apexcharts/apexcharts.css">
</head>
<body>

    <!-- Start Setting UI -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="switcher-canvas" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title text-default" id="offcanvasRightLabel">Setting UI</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <nav class="border-bottom border-block-end-dashed">
                <div class="nav nav-tabs nav-justified" id="switcher-main-tab" role="tablist">
                    <button class="nav-link active" id="switcher-home-tab" data-bs-toggle="tab"
                            data-bs-target="#switcher-home" type="button" role="tab" aria-controls="switcher-home"
                            aria-selected="true">
                        Theme Styles
                    </button>
                    <button class="nav-link" id="switcher-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#switcher-profile" type="button" role="tab" aria-controls="switcher-profile"
                            aria-selected="false">
                        Theme Colors
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active border-0" id="switcher-home" role="tabpanel"
                     aria-labelledby="switcher-home-tab" tabindex="0">
                    <div class="">
                        <p class="switcher-style-head">Theme Color Mode:</p>
                        <div class="row switcher-style gx-0">
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-light-theme">
                                        Light
                                    </label>
                                    <input class="form-check-input" type="radio" name="theme-style"
                                           id="switcher-light-theme" checked>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-dark-theme">
                                        Dark
                                    </label>
                                    <input class="form-check-input" type="radio" name="theme-style"
                                           id="switcher-dark-theme">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Directions:</p>
                        <div class="row switcher-style gx-0">
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-ltr">
                                        LTR
                                    </label>
                                    <input class="form-check-input" type="radio" name="direction" id="switcher-ltr" checked>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-rtl">
                                        RTL
                                    </label>
                                    <input class="form-check-input" type="radio" name="direction" id="switcher-rtl">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Navigation Styles:</p>
                        <div class="row switcher-style gx-0">
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-vertical">
                                        Vertical
                                    </label>
                                    <input class="form-check-input" type="radio" name="navigation-style"
                                           id="switcher-vertical" checked>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-horizontal">
                                        Horizontal
                                    </label>
                                    <input class="form-check-input" type="radio" name="navigation-style"
                                           id="switcher-horizontal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-menu-styles">
                        <p class="switcher-style-head">Vertical & Horizontal Menu Styles:</p>
                        <div class="row switcher-style gx-0 pb-2 gy-2">
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-menu-click">
                                        Menu Click
                                    </label>
                                    <input class="form-check-input" type="radio" name="navigation-menu-styles"
                                           id="switcher-menu-click">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-menu-hover">
                                        Menu Hover
                                    </label>
                                    <input class="form-check-input" type="radio" name="navigation-menu-styles"
                                           id="switcher-menu-hover">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-icon-click">
                                        Icon Click
                                    </label>
                                    <input class="form-check-input" type="radio" name="navigation-menu-styles"
                                           id="switcher-icon-click">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-icon-hover">
                                        Icon Hover
                                    </label>
                                    <input class="form-check-input" type="radio" name="navigation-menu-styles"
                                           id="switcher-icon-hover">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidemenu-layout-styles">
                        <p class="switcher-style-head">Sidemenu Layout Styles:</p>
                        <div class="row switcher-style gx-0 pb-2 gy-2">
                            <div class="col-sm-6">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-default-menu">
                                        Default Menu
                                    </label>
                                    <input class="form-check-input" type="radio" name="sidemenu-layout-styles"
                                           id="switcher-default-menu" checked>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-closed-menu">
                                        Closed Menu
                                    </label>
                                    <input class="form-check-input" type="radio" name="sidemenu-layout-styles"
                                           id="switcher-closed-menu">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-icontext-menu">
                                        Icon Text
                                    </label>
                                    <input class="form-check-input" type="radio" name="sidemenu-layout-styles"
                                           id="switcher-icontext-menu">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-icon-overlay">
                                        Icon Overlay
                                    </label>
                                    <input class="form-check-input" type="radio" name="sidemenu-layout-styles"
                                           id="switcher-icon-overlay">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-detached">
                                        Detached
                                    </label>
                                    <input class="form-check-input" type="radio" name="sidemenu-layout-styles"
                                           id="switcher-detached">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-double-menu">
                                        Double Menu
                                    </label>
                                    <input class="form-check-input" type="radio" name="sidemenu-layout-styles"
                                           id="switcher-double-menu">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Page Styles:</p>
                        <div class="row switcher-style gx-0">
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-regular">
                                        Regular
                                    </label>
                                    <input class="form-check-input" type="radio" name="page-styles" id="switcher-regular"
                                           checked>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-classic">
                                        Classic
                                    </label>
                                    <input class="form-check-input" type="radio" name="page-styles" id="switcher-classic">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-modern">
                                        Modern
                                    </label>
                                    <input class="form-check-input" type="radio" name="page-styles" id="switcher-modern">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Layout Width Styles:</p>
                        <div class="row switcher-style gx-0">
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-full-width">
                                        Full Width
                                    </label>
                                    <input class="form-check-input" type="radio" name="layout-width"
                                           id="switcher-full-width" checked>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-boxed">
                                        Boxed
                                    </label>
                                    <input class="form-check-input" type="radio" name="layout-width" id="switcher-boxed">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Menu Positions:</p>
                        <div class="row switcher-style gx-0">
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-menu-fixed">
                                        Fixed
                                    </label>
                                    <input class="form-check-input" type="radio" name="menu-positions"
                                           id="switcher-menu-fixed" checked>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-menu-scroll">
                                        Scrollable
                                    </label>
                                    <input class="form-check-input" type="radio" name="menu-positions"
                                           id="switcher-menu-scroll">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Header Positions:</p>
                        <div class="row switcher-style gx-0">
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-header-fixed">
                                        Fixed
                                    </label>
                                    <input class="form-check-input" type="radio" name="header-positions"
                                           id="switcher-header-fixed" checked>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-header-scroll">
                                        Scrollable
                                    </label>
                                    <input class="form-check-input" type="radio" name="header-positions"
                                           id="switcher-header-scroll">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <p class="switcher-style-head">Loader:</p>
                        <div class="row switcher-style gx-0">
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-loader-enable">
                                        Enable
                                    </label>
                                    <input class="form-check-input" type="radio" name="page-loader"
                                           id="switcher-loader-enable" checked>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check switch-select">
                                    <label class="form-check-label" for="switcher-loader-disable">
                                        Disable
                                    </label>
                                    <input class="form-check-input" type="radio" name="page-loader"
                                           id="switcher-loader-disable" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade border-0" id="switcher-profile" role="tabpanel"
                     aria-labelledby="switcher-profile-tab" tabindex="0">
                    <div>
                        <div class="theme-colors">
                            <p class="switcher-style-head">Menu Colors:</p>
                            <div class="d-flex switcher-style pb-2">
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-white" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Light Menu" type="radio" name="menu-colors"
                                           id="switcher-menu-light" checked>
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-dark" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Dark Menu" type="radio" name="menu-colors"
                                           id="switcher-menu-dark">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Color Menu" type="radio" name="menu-colors"
                                           id="switcher-menu-primary">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-gradient" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Gradient Menu" type="radio" name="menu-colors"
                                           id="switcher-menu-gradient">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-transparent" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Transparent Menu" type="radio" name="menu-colors"
                                           id="switcher-menu-transparent">
                                </div>
                            </div>
                            <div class="px-4 pb-3 text-muted fs-11">
                                Note:If you want to change color Menu dynamically change
                                from below Theme Primary color picker
                            </div>
                        </div>
                        <div class="theme-colors">
                            <p class="switcher-style-head">Header Colors:</p>
                            <div class="d-flex switcher-style pb-2">
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-white" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Light Header" type="radio" name="header-colors"
                                           id="switcher-header-light" checked>
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-dark" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Dark Header" type="radio" name="header-colors"
                                           id="switcher-header-dark">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Color Header" type="radio" name="header-colors"
                                           id="switcher-header-primary">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-gradient" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Gradient Header" type="radio" name="header-colors"
                                           id="switcher-header-gradient">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-transparent" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Transparent Header" type="radio" name="header-colors"
                                           id="switcher-header-transparent">
                                </div>
                            </div>
                            <div class="px-4 pb-3 text-muted fs-11">
                                Note:If you want to change color Header dynamically
                                change from below Theme Primary color picker
                            </div>
                        </div>
                        <div class="theme-colors">
                            <p class="switcher-style-head">Theme Primary:</p>
                            <div class="d-flex flex-wrap align-items-center switcher-style">
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-1" type="radio"
                                           name="theme-primary" id="switcher-primary">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-2" type="radio"
                                           name="theme-primary" id="switcher-primary1">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-3" type="radio"
                                           name="theme-primary" id="switcher-primary2">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-4" type="radio"
                                           name="theme-primary" id="switcher-primary3">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-primary-5" type="radio"
                                           name="theme-primary" id="switcher-primary4">
                                </div>
                                <div class="form-check switch-select ps-0 mt-1 color-primary-light">
                                    <div class="theme-container-primary"></div>
                                    <div class="pickr-container-primary"></div>
                                </div>
                            </div>
                        </div>
                        <div class="theme-colors">
                            <p class="switcher-style-head">Theme Background:</p>
                            <div class="d-flex flex-wrap align-items-center switcher-style">
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-1" type="radio"
                                           name="theme-background" id="switcher-background">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-2" type="radio"
                                           name="theme-background" id="switcher-background1">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-3" type="radio"
                                           name="theme-background" id="switcher-background2">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-4" type="radio"
                                           name="theme-background" id="switcher-background3">
                                </div>
                                <div class="form-check switch-select me-3">
                                    <input class="form-check-input color-input color-bg-5" type="radio"
                                           name="theme-background" id="switcher-background4">
                                </div>
                                <div class="form-check switch-select ps-0 mt-1 tooltip-static-demo color-bg-transparent">
                                    <div class="theme-container-background"></div>
                                    <div class="pickr-container-background"></div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-image mb-3">
                            <p class="switcher-style-head">Menu With Background Image:</p>
                            <div class="d-flex flex-wrap align-items-center switcher-style">
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img1" type="radio"
                                           name="theme-background" id="switcher-bg-img">
                                </div>
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img2" type="radio"
                                           name="theme-background" id="switcher-bg-img1">
                                </div>
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img3" type="radio"
                                           name="theme-background" id="switcher-bg-img2">
                                </div>
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img4" type="radio"
                                           name="theme-background" id="switcher-bg-img3">
                                </div>
                                <div class="form-check switch-select m-2">
                                    <input class="form-check-input bgimage-input bg-img5" type="radio"
                                           name="theme-background" id="switcher-bg-img4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid  canvas-footer flex-wrap">
                    <a href="javascript:void(0);" id="reset-all" class="btn btn-danger m-1">Reset</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Switcher -->
    <!-- Loader -->
    <div id="loader">
        <img src="../assets/images/media/loader.svg" alt="">
    </div>
    <!-- Loader -->

    <div class="page">
        <!-- app-header -->
        <header class="app-header">

            <!-- Start::main-header-container -->
            <div class="main-header-container container-fluid">

                <!-- Start::header-content-left -->
                <partial name="_headerContentLeft"></partial>
                <!-- End::header-content-left -->
                <!-- Start::header-content-right -->
                <partial name="_headerContentRight"></partial>
                <!-- End::header-content-right -->

            </div>
            <!-- End::main-header-container -->

        </header>
        <!-- /app-header -->
        <!-- Start::app-sidebar -->
        <aside class="app-sidebar sticky" id="sidebar"
               style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ">

            <!-- Start::main-sidebar-header -->
            <div class="main-sidebar-header">
                <a href="index.html" class="header-logo">
                    <img src="../assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
                    <img src="../assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
                    <img src="../assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-dark">
                    <img src="../assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
                    <img src="../assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-white">
                    <img src="../assets/images/brand-logos/toggle-white.png" alt="logo" class="toggle-white">
                </a>
            </div>
            <!-- End::main-sidebar-header -->
            <!-- Start::main-sidebar -->
            <div class="main-sidebar" id="sidebar-scroll">

                <!-- Start::nav -->
                <nav class="main-menu-container nav nav-pills flex-column sub-open">
                    <div class="slide-left" id="slide-left"></div>
                    <partial name="_mainMenu"></partial>
                    <div class="slide-right" id="slide-right">
                    </div>
                </nav>
                <!-- End::nav -->

            </div>
            <!-- End::main-sidebar -->

        </aside>
        <!-- End::app-sidebar -->
        <!-- Start::app-content -->
        <div class="main-content app-content">
            <!-- page-header -->
            <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                <div class="">
                    <div class="">
                        <nav>
                            <ol class="breadcrumb mb-1 mb-md-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">@ViewData["Page"]</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["View"]</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="ms-auto pageheader-btn">
                </div>
            </div>
            <!-- Page Header Close -->
            <!-- End page-header -->
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>


            </div>
        </div>
        <!-- End::app-content -->
        <!-- Message Modal -->
        <div class="modal fade" id="chatmodel" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-right chatbox" role="document">
                <div class="modal-content chat border-0">
                    <div class="card custom-card overflow-hidden mb-0 border-0">
                        <!-- action-header -->
                        <div class="action-header clearfix">
                            <div class="float-start hidden-xs d-flex ms-2">
                                <div class="img_cont me-3">
                                    <img src="../assets/images/faces/6.png" class="rounded-circle user_img" alt="img">
                                </div>
                                <div class="align-items-center mt-2">
                                    <h5 class="text-fixed-white mb-0 fw-semibold">Daneil Scott</h5>
                                    <span class="dot-label bg-success"></span><span class="me-3 text-fixed-white">online</span>
                                </div>
                            </div>
                            <ul class="ah-actions actions align-items-center">
                                <li class="call-icon  ms-5">
                                    <a href="" class="d-done d-md-block phone-button" data-bs-toggle="modal"
                                       data-bs-target="#audiomodal">
                                        <i class="si si-phone"></i>
                                    </a>
                                </li>
                                <li class="video-icon">
                                    <a href="" class="d-done d-md-block phone-button" data-bs-toggle="modal"
                                       data-bs-target="#videomodal">
                                        <i class="si si-camrecorder"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="" data-bs-toggle="dropdown" aria-expanded="true">
                                        <i class="si si-options-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><i class="fa fa-user-circle"></i> View profile</li>
                                        <li><i class="fa fa-users"></i>Add friends</li>
                                        <li><i class="fa fa-plus"></i> Add to group</li>
                                        <li><i class="fa fa-ban"></i> Block</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="si si-close text-white"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- action-header end -->
                        <!-- msg_card_body -->
                        <div class="card-body msg_card_body" id="msg_card_body">
                            <div class="chat-box-single-line">
                                <abbr class="timestamp">February 1st, 2019</abbr>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/6.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Hi, how are you Jenna Side?
                                    <span class="msg_time">8:40 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="msg_cotainer_send">
                                    Hi Connor Paige i am good tnx how about you?
                                    <span class="msg_time_send">8:55 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/9.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/6.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    I am good too, thank you for your chat template
                                    <span class="msg_time">9:00 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="msg_cotainer_send">
                                    You welcome Connor Paige
                                    <span class="msg_time_send">9:05 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/9.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/6.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Yo, Can you update Views?
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    But I must explain to you how all this mistaken born and I
                                    will give
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/9.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/6.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Yo, Can you update Views?
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    But I must explain to you how all this mistaken born and I
                                    will give
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/9.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/6.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Yo, Can you update Views?
                                    <span class="msg_time">9:07 AM, Today</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    But I must explain to you how all this mistaken born and I
                                    will give
                                    <span class="msg_time_send">9:10 AM, Today</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/9.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <div class="img_cont_msg">
                                    <img src="../assets/images/faces/6.png" class="rounded-circle user_img_msg"
                                         alt="img">
                                </div>
                                <div class="msg_cotainer">
                                    Okay Bye, text you later..
                                    <span class="msg_time">9:12 AM, Today</span>
                                </div>
                            </div>
                        </div>
                        <!-- msg_card_body end -->
                        <!-- card-footer -->
                        <div class="card-footer">
                            <div class="msb-reply d-flex">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Typing...." type="text">
                                    <button class="btn btn-primary br-ts-0 br-bs-0" type="button">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- card-footer end -->
                    </div>
                </div>
            </div>
        </div>

        <!--Video Modal -->
        <div id="videomodal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content border-0">
                    <div class="modal-body mx-auto text-center p-5">
                        <h5>Hogo Video call</h5>
                        <img src="../assets/images/faces/6.png" class="rounded-circle user-img-circle h-8 w-8 mt-4 mb-3"
                             alt="img">
                        <h4 class="mb-1 fw-semibold">Daneil Scott</h4>
                        <h6 class="loading">Calling...</h6>
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle mb-0" href="javascript:void(0);">
                                        <i class="fa fa-video-camera"></i>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle text-white mb-0" href="javascript:void(0);"
                                       data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-phone bg-danger text-white"></i>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle mb-0" href="javascript:void(0);">
                                        <i class="fa fa-microphone-slash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal-body -->
                </div>
            </div>
            <!-- modal-dialog -->
        </div>
        <!-- modal -->
        <!-- Audio Modal -->
        <div id="audiomodal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content border-0">
                    <div class="modal-body mx-auto text-center p-5">
                        <h5>Hogo Voice call</h5>
                        <img src="../assets/images/faces/6.png" class="rounded-circle user-img-circle h-8 w-8 mt-4 mb-3"
                             alt="img">
                        <h4 class="mb-1 fw-semibold">Daneil Scott</h4>
                        <h6 class="loading">Calling...</h6>
                        <div class="mt-5">
                            <div class="row">
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle mb-0" href="javascript:void(0);">
                                        <i class="fa fa-volume-up bg-light text-dark"></i>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle text-white mb-0" href="javascript:void(0);"
                                       data-bs-dismiss="modal" aria-label="Close">
                                        <i class="fa fa-phone text-white bg-success"></i>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class="icon icon-shape rounded-circle mb-0" href="javascript:void(0);">
                                        <i class="fa fa-microphone-slash bg-light text-dark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal-body -->
                </div>
            </div>
            <!-- modal-dialog -->
        </div>
        <!-- modal -->
        <!-- Footer Start -->
        <footer class="footer mt-auto py-3 bg-white text-center">
            <div class="container">
                <span class="text-muted">
                    Copyright © <span id="year"></span> <a href="javascript:void(0);"
                                                           class="text-primary fw-semibold"></a>.
                    Practice <span class="bi bi-heart-fill text-danger"></span> by <a href="javascript:void(0);">
                        <span class="fw-semibold text-primary text-decoration-underline">ĐT</span>
                    </a>
                </span>
            </div>
        </footer>
        <!-- Footer End -->
        @* <div class="offcanvas offcanvas-end offcanvas-sidebar overflow-auto sidebar" tabindex="-1"
             id="offcanvassidebar">
            <!-- Sidebar-right -->
            <div class="card custom-card tab-heading shadow-none">
                <div class="card-header rounded-0">
                    <div class="card-title">
                        Notifications
                    </div>
                    <div class="card-options ms-auto" data-bs-theme="dark">
                        <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                </div>
                <div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
                    <div class="tabs-menu">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="">
                                <a href="#side1" class="active" data-bs-toggle="tab">
                                    <i class="fe fe-message-circle tx-15 me-2"></i> Chat
                                </a>
                            </li>
                            <li>
                                <a href="#side2" data-bs-toggle="tab">
                                    <i class="fe fe-bell tx-15 me-2"></i>
                                    Notifications
                                </a>
                            </li>
                            <li>
                                <a href="#side3" data-bs-toggle="tab"><i class="fe fe-users tx-15 me-2"></i> Friends</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane p-0 active border-0" id="side1">
                            <div class="list d-flex align-items-center border-top border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-primary brround avatar-md">CH</span>
                                </div>
                                <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                                    <p class="mb-0 d-flex">
                                        <b>New Websites is Created</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted me-1"></i>
                                            <small class="text-muted ms-auto">30 mins ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center  border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-danger brround avatar-md">N</span>
                                </div>
                                <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                                    <p class="mb-0 d-flex">
                                        <b>Prepare For the Next Project</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted me-1"></i>
                                            <small class="text-muted ms-auto">2 hours ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-info brround avatar-md">S</span>
                                </div>
                                <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                                    <p class="mb-0 d-flex">
                                        <b>Decide the live Discussion</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted me-1"></i>
                                            <small class="text-muted ms-auto">3 hours ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-warning brround avatar-md">K</span>
                                </div>
                                <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                                    <p class="mb-0 d-flex">
                                        <b>Meeting at 3:00 pm</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted me-1"></i>
                                            <small class="text-muted ms-auto">4 hours ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-success brround avatar-md">R</span>
                                </div>
                                <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                                    <p class="mb-0 d-flex">
                                        <b>Prepare for Presentation</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted me-1"></i>
                                            <small class="text-muted ms-auto">1 day ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-pink brround avatar-md">MS</span>
                                </div>
                                <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                                    <p class="mb-0 d-flex">
                                        <b>Prepare for Presentation</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted me-1"></i>
                                            <small class="text-muted ms-auto">1 day ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center border-bottom p-3">
                                <div class="">
                                    <span class="avatar bg-purple brround avatar-md">L</span>
                                </div>
                                <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                                    <p class="mb-0 d-flex">
                                        <b>Prepare for Presentation</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted me-1"></i>
                                            <small class="text-muted ms-auto">45 minutes ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="list d-flex align-items-center p-3">
                                <div class="">
                                    <span class="avatar bg-blue brround avatar-md">U</span>
                                </div>
                                <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                                    <p class="mb-0 d-flex">
                                        <b>Prepare for Presentation</b>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <i class="mdi mdi-clock text-muted me-1"></i>
                                            <small class="text-muted ms-auto">2 days ago</small>
                                            <p class="mb-0"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="tab-pane p-0" id="side2">
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex align-items-center ">
                                    <div>
                                        <span class="avatar avatar-lg me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/13.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-3">
                                        <strong>Madeleine</strong> Hey! there I' am available....
                                        <div class="small text-muted">3 hours ago</div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-lg me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/12.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-3">
                                        <strong>Anthony</strong> New product Launching...
                                        <div class="small text-muted">5 hour ago</div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-lg me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/11.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-3">
                                        <strong>Olivia</strong> New Schedule Realease......
                                        <div class="small text-muted">45 minutes ago</div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-lg me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/10.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-3">
                                        <strong>Madeleine</strong> Hey! there I' am available....
                                        <div class="small text-muted">3 hours ago</div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-lg me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/19.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-3">
                                        <strong>Anthony</strong> New product Launching...
                                        <div class="small text-muted">5 hour ago</div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-lg me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/8.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-3">
                                        <strong>Olivia</strong> New Schedule Realease......
                                        <div class="small text-muted">45 minutes ago</div>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-lg me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/7.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-3">
                                        <strong>Olivia</strong> Hey! there I' am available....
                                        <div class="small text-muted">12 minutes ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane p-0" id="side3">
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex align-items-center ">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/13.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Mozelle Belt
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary "
                                           data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/3.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Florinda Carasco
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary "
                                           data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/2.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Alina Bernier
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary "
                                           data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/1.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Zula Mclaughin
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary "
                                           data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/5.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Isidro Heide
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary "
                                           data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/6.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Mozelle Belt
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary ">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/7.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Florinda Carasco
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary "
                                           data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/8.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Alina Bernier
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light  text-primary">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/9.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Zula Mclaughin
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary "
                                           data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/10.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Isidro Heide
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light  text-primary">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/12.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Florinda Carasco
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary "
                                           data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center border-top">
                                    <div>
                                        <span class="avatar avatar-md me-2 online avatar-rounded">
                                            <img src="../assets/images/faces/14.jpg" alt="img">
                                        </span>
                                    </div>
                                    <div class="ms-2">
                                        <div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            Alina Bernier
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light text-primary "
                                           data-bs-toggle="modal" data-bs-target="#chatmodel">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Sidebar-right-->
        </div> *@

    </div>


    <!-- Scroll To Top -->
    <div class="scrollToTop" id="back-to-top">
        <i class="ri-arrow-up-s-fill fs-20"></i>
    </div>
    <div id="responsive-overlay"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/jqueryui/jquery-ui.min.js"></script>

    <!-- Scroll To Top -->
    <!-- Popper JS -->
    <script src="@Url.Content("../assets/libs/@popperjs/core/umd/popper.min.js")"></script>

    <!-- Defaultmenu JS -->
    <script src="~/assets/js/defaultmenu.min.js"></script>

    <!-- Node Waves JS-->
    <script src="~/assets/libs/node-waves/waves.min.js"></script>

    <!-- Sticky JS -->
    <script src="~/assets/js/sticky.js"></script>

    <!-- Simplebar JS -->
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/js/simplebar.js"></script>

    <!-- Color Picker JS -->
    <script src="@Url.Content("../assets/libs/@simonwep/pickr/pickr.es5.min.js")"></script>

    <!-- Date & Time Picker JS -->
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/js/date-range.js"></script>

    <!-- Apex Charts JS -->
@*     <script src="../assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/js/index.js"></script> *@

    <!-- Custom-Switcher JS -->
    <script src="~/assets/js/custom-switcher.min.js"></script>

    <!-- Custom JS -->
    @* <script src="../assets/js/custom.js"></script> *@

    <!-- Treeview JS -->
    <script src="~/assets/libs/js-treeview/treeview.min.js"></script>
    @* <script src="../assets/js/treeview.js"></script> *@

    <style>
        /* CSS for dropdown-element hover effect */
        .dropdown:hover .btn.btn-outline-light.dropdown-toggle.fs-14 {
            background-color: var(--primary01) !important;
            color: var(--primary08) !important;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .dropdown:hover .dropdown-menu {
            display: block;
            position: absolute;
            inset: 0px auto auto 0px;
            margin: 0px;
            transform: translate(0px, 42px);
        }
        
        .slide.has-sub:hover {
            border: 1px solid var(--default-border) !important;
            background-color: var(--primary01) !important;
            box-shadow: var(--bs-box-shadow) !important;
            inset: 0px auto auto 0px;
            margin: 0px;
        }

        /* .slide.has-sub:hover .slide-menu.child1 {
            display: block;
        }

        /* Optional: Additional styles for active state */
        .slide-menu.child1:hover {
            display: block;
        }

        a.header-link:hover {
            border: 1px solid var(--default-border) !important;
            background-color: var(--primary01) !important;
        } 

        /* Show the submenu on hover */
       /*  .slide.has-sub:hover .slide-menu {
            display: block;
            background-color: var(--primary01) !important;
        } */

        /* Optional: Additional styles for active state */
       /*  .slide-menu.active {
            display: block;
            background-color: var(--primary01) !important;
        }
 */
        /* Optional: Adjust submenu position if necessary */
   /*      .slide-menu {
            transition: all .5s ease-out 1s;
            position: absolute;
            left: 100%; /* Adjust according to your layout */
            /* top: 0; */
            /* display: none; /* Ensure the submenu is hidden by default */ 
        /* } */
        /* .main-header-container .header-element {
            display: flex !important;
            align-items: stretch;
        } */
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const subMenus = document.querySelectorAll('.slide.has-sub');

            subMenus.forEach(subMenu => {
                subMenu.addEventListener('mouseover', function () {
                    this.querySelector('.slide-menu').classList.add('active');
                });

                subMenu.addEventListener('mouseout', function () {
                    this.querySelector('.slide-menu').classList.remove('active');
                });
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
