@model IEnumerable<ErpUser>;
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>UserID</th>
            <th>Name</th>
            <th>DomainUser</th>
            <th>Group</th>
            <th>EmplID</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="7" class="text-center">No Model Data</td></tr>
        }
        else
        {
            int rowNo = 0;
            <form asp-area="Identity" asp-action="RegisterIdentity" asp-controller="Account" method="post">
                @foreach (var p in Model)
                {
                <tr>
                    <td>@(rowNo += 1)</td>
                    <td>@p.EmployeeID</td>
                    <td>@p.UserName</td>
                    <td>@p.EmployeeName</td>
                    <td>@p.Email</td>
                    <td>@p.NormalizedUserName</td>
                    <td>
                            @if (@p.Active)
                            {
                            <p class="text-success">Actived</p>
                            }
                            else
                            {
                            <p class="fw-bold text-secondary">Disable</p>
                            }
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary" value="Reg User" />
                    </td>
                </tr>
                }
            </form>

        }
    </tbody>
</table>